html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
.container {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container p {
  margin: 5px 0;
  text-align: center;
}

.container img {
  margin-bottom: 5px;
  width: 50px;
}
