@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Light.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: url(../img/texture.png) top left repeat;
}
